body {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/4040644/pexels-photo-4040644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
};

html {
  font-family: 'Noto Sans JP', sans-serif;
};
