  body {
    font-family: 'Fondamento', cursive;
    font-size: 36px;
    color: black;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/4040639/pexels-photo-4040639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) !important;
  };

